* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.App {
  text-align: center;
}

.about {
  width: 80vw;
  height: 70vh;
  margin: 0 auto;
  background: linear-gradient(150deg, #53f 15%, #05d5ff 70%, #a6ffcb 94%);
  clip-path: polygon(100% 0, 100% 70%, 0 99%, 0 0);
}

.container {
  width: 80vw;
  margin: 0 auto;
}
.container-main {
  background: linear-gradient(150deg, #53f 15%, #05d5ff 70%, #a6ffcb 94%);

  height: 50vh;
  width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Exo", sans-serif;
}
.title {
  text-align: center;
  padding: 3rem;
  font-size: 3rem;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .about {
    width: 100vw;
  }
  .container {
    width: 100vw;
  }
  .container-main {
    width: 100vw;
  }
}
